@import "lightweight/nav";
@import "lightweight/sidebar";
@import "lightweight/block";
@import "lightweight/hero";
@import "lightweight/footer";
@import "lightweight/login";
@import "lightweight/global";
@import "lightweight/buttontotop";
@import "lightweight/blog";
@import "lightweight/shareblock";


h1, h2, h3, h4, h5, h6, .h1, .h2, .path-calendar .maincalendar .calendar-controls .current, .h3, .h4, .h5, .h6 {
    font-family: "Quicksand",sans-serif !important;
    font-weight: 500 !important; 
}

body {
    background: #FAFAFA !important;
}

#page-mod-accipioaccelerate-view .accelerate-row {
    background: #FFFFFF !important;
}

#page-mod-accipioaccelerate-view #side-nav-block {
    background-color: transparent !important; 
    padding: 0px !important;
}


#page-mod-accipioaccelerate-view #side-nav .section-heading .activity-title {
    color: #707070 !important;
    font-weight: 300;
}

#page-mod-accipioaccelerate-view #side-nav .section-heading.active .activity-title {
    color: #272727 !important;
    font-weight: 400;
}


#page-mod-accipioaccelerate-view .scrollspy-list-container .content-col .list-group-item {
    max-width: 100% !important;
}

#page-mod-accipioaccelerate-view #course-header .jumbotron {
 //   background: #c2136a !important;
    box-shadow: inset -2rem 0 2rem -2rem rgba(0,0,0,.24)!important;
}

#page-mod-accipioaccelerate-view #side-nav .section-heading.active .row {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fafafa !important;
    box-shadow: inset -2rem 0 2rem -2rem rgba(0,0,0,.24)!important;
}

#page-mod-accipioaccelerate-view #side-nav .section-heading {
    box-shadow: none !important;
}

#page-mod-accipioaccelerate-view #side-nav .scrollspy-entry .row {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f6f6f6 !important;
    box-shadow: inset -2rem 0 2rem -2rem rgba(0,0,0,.24)!important;

}

#page-mod-accipioaccelerate-view #side-nav .section-heading .heading-row::after {
    border-right: none;
}

#page-mod-accipioaccelerate-view #side-nav .section-heading {
    border-top: 0px solid #ccc !important;     
    font-size: 15px;
}

#page-mod-accipioaccelerate-view #scrollspy-outer {
    box-shadow: inset -2rem 0 2rem -2rem rgba(0,0,0,.24) !important;
}

body#page-mod-accipioaccelerate-view main.main {
    background: #fafafa !important;
}

#page-mod-accipioaccelerate-view #side-nav-block.collapse {
    background: #fafafa !important;
}

#page-mod-accipioaccelerate-view div#content {
    padding: 30px;
}

#page-mod-accipioaccelerate-view .scrollspy-list-container .content-col::after {
    border-bottom: 1px solid #ccc !important;
}

#page-mod-accipioaccelerate-view .scrollspy-list-container .content-col::before {
    border-right: 1px solid #ccc !important;
}


body#page-course-view-accipio_immerse main.main {
    background: #fafafa !important;
}


body#page-site-index main.main {
    background: #fafafa !important;
}

