$tablet_breakpoint: 767px;
$desktop_breakpoint: 768px;
$side_block_size: 250px;

.block{
  border: none;
  margin: 0 10px 10px 10px;
  height: max-content;

    section{
      margin: 0 0 10px 0!important;

      div.card-body{
        box-shadow: -5px 5px 20px 0 rgba(0,0,0,.1);
      }
    }
}
.centerblock{
  width: 100%;
}

@media(max-width: $tablet_breakpoint){
  .sideblock{
    width: 100%;
  }
}

@media(min-width: 992px){
  .sideblock{

    aside {
      width: $side_block_size;
    }
  }
}

//admin block icon fixes
.block_settings .block_tree .tree_item.branch[aria-expanded="false"]:before {
  font-family: FontAwesome !important;
  content: '\f054';
  font-weight: 900;
  margin-right: 10px;
  font-size: 10px;
  color: grey;
}
.block_settings .block_tree .tree_item.branch[aria-expanded="true"]:before {
  font-family: FontAwesome !important;
  content: '\f078';
  font-weight: 900;
  margin-right: 10px;
  font-size: 10px;
  color: grey;
}
//admin block icon fixes