$tablet_breakpoint: 767px;
$desktop_breakpoint: 768px;
$side_block_size: 250px;

.block{
  border: none;
  margin: 0 10px 10px 10px;
  height: max-content;

    section{
      margin: 0 0 10px 0!important;

      div.card-body{
        box-shadow: -5px 5px 20px 0 rgba(0,0,0,.1);
      }
    }
}
.centerblock{
  width: 100%;
}

@media(max-width: $tablet_breakpoint){
  .sideblock{
    width: 100%;
  }
}

@media(min-width: $desktop_breakpoint){
  .sideblock{

    aside {
      width: $side_block_size;
    }
  }
}