body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background: #f1f4f5;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url([[font:theme|open-sans-v17-latin-regular.eot]); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url([[font:theme|open-sans-v17-latin-regular.eot?#iefix]]) format('embedded-opentype'), /* IE6-IE8 */
  url([[font:theme|open-sans-v17-latin-regular.woff2]]) format('embedded-opentype'), /* IE6-IE8 */
  url([[font:theme|open-sans-v17-latin-regular.woff]]) format('embedded-opentype'), /* IE6-IE8 */
  url([[font:theme|open-sans-v17-latin-regular.ttf]]) format('embedded-opentype'), /* IE6-IE8 */
  url([[font:theme|open-sans-v17-latin-regular.svg#OpenSans]]) format('embedded-opentype'), /* IE6-IE8 */
}

main.main {
  position: relative;
  height: auto;
  background: white;
  padding: 40px;
  border-radius: 10px;

  @media (min-width: 675px){
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 20px;

  }
}

.container{
  @media (min-width: 1440px) {
    max-width: 1400px;
  }
}


// getting rid of icons used for indent
svg[data-icon="null"] {
  display: none;
}
// getting rid of icons used for indent

.icon{
  font-family: FontAwesome !important;
}

.no-overflow {
  overflow: hidden!important;
  /* margin: 0!important; */
}
//TO DO, fix diagnose html structure so alerts place themselves below nav
#page-mod-diagnose-edit-survey, .page-mod-diagnose-edit-survey{
  #alert-container{
    top: 100px !important;
  }
}