.jumbotron {
  color: white;
  width: 100%;
  height: 500px;
  background-image: url(https://www.businessballs.com/pluginfile.php/1/theme_accipio_bb/slideimage/0/home.jpg);
  margin: 0;
  background-size: cover;
  background-color: #c2136ac4;
  background-blend-mode: soft-light;
}