nav.navbar {
  width: 100%;
  height: 100px;
  max-height: 100px;
  position: sticky;
  z-index: 1000;
  top: 0;
  margin: 0;
  padding: 0;

  a.navbar-brand{
    width: 100%;
    padding-top: 0;
    margin-left: 10px;
  }
}

[data-region=right-hand-drawer].drawer{
  top: 0px;
  height: 100vh;
  z-index: 100;
  outline: 0;
}

div.message-app {
  background: white;

  input.form-control.border-left-0{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  span.input-group-text.pr-2.bg-white{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }
  button{
    background: white!important;
  }

  div.section.border-0.card > div{
    border: none;
  }
  div.border-bottom{
    border: none!important;
  }
  .header-container.position-relative{
    margin-top: 100px;
  }
}



svg{
  cursor: pointer;
}
li.nav-item.d-flex.align-items-center {
  margin-left: 10px;
  margin-top: -10px;
}

ul.nav.desktopSearch {
  justify-content: flex-end;

    li.usermenu.nav-item.dropdown a.nav-link{
      padding-top: 0px;
      display: initial;
    }

    li a,#search_icon{
      color: grey;
    }
}

div.brandImg{
  height: 100px;
  align-items: center;
  padding: 0 15px!important;
  max-width: 200px;
  margin: auto;
}
div.mobileNavRow{
  margin: 0;
  padding: 0 10px;
  background: white;
  width: 100%;
}
button.navbar-toggler{
  border: none;
  outline: 0;
}

li.search_icon{
  margin: auto;
  display: none;
}

.mobileSearch {
  position: absolute;
  right: 15px;
  top: 17px;

    svg{
      color: grey;
    }
}
@media(max-width: 335px) {

  div.message-app{
    .header-container.position-relative{
      margin-top: 150px;
    }
  }
}

@media(max-width: 991px){

  div.jumbotron, div.mainContent{
    position: relative;
  }

  div.brandImg{
    height: 50px;
  }

  ul#mainMenu{
    background-color: #303030;
    color: #fff;
    padding: 15px;
    width: 300px;
    height: 650px;
    overflow-y: scroll;
    position: relative;
div.nav-item.main-nav{
  width: 50%;

}
    a.noChildAs{
      font-size: 13px;
    }
    div.menu1.showM1{
      display: grid;
    }
    div.menu2{
      padding-right: 0;
      max-width: initial;

      a{
        font-size: 13px;
        color: white;
      }

      div.menu3.collapse.show{
        margin: 10px;
        width: 150px;
        display: grid;

        a{
          font-size: 11px;
          color: grey;
        }
      }
    }

    svg.open{
      transform: rotate(90deg);
    }
    svg.mainMenu {
      position: relative;
      left: 242px;
      top: 33px;
    }
    svg.submenu{
      position: relative;
      left: 175px;
    }
    a{
      color: white;
    }
  }

}
@media(min-width: 992px) {

  div.nav-item.main-nav{
    svg{
      display: none;
    }
  }

  div.nav-item.main-nav:hover{

    div.menu1{
      position: fixed;
      display: flex;
      width: 100%;
      left: 0;
      background: #333;
      overflow-y: hidden;
      height: auto;
      padding-left: 200px !important;
      padding-right: 200px !important;
      padding-bottom: 50px;
      margin: 0;

      div.menu2, div.col-sm-6.col-md-3{

        margin-block-start: 12px!important;
        border-left: 1px solid #3d3d3d;


        a{
          color: white;
          font-size: 13px;
        }

        div.menu3.collapse{
          display: grid;
          display: -ms-inline-flexbox;
          margin-block-start: 15px!important;

          a{
            color: #ffffff8a;
            font-size: 11px;
          }
        }
      }

    }
  }

  .mobileSearch{
    display: none;
  }
  li.search_icon{
    margin: auto 0;
    display: block;
  }
  div.mobileNavRow{
    height: 50px;
    min-width: calc(100vw - 200px);
  }
}

div.search_input {
  z-index: 1031;
  position: absolute;
  top: 0;
  width: 100%;

  #___gcse_0{
    width: 100%;
  }

      form{
        padding: 0;

        input{
          height: 52px;
        }
      }


      svg.fa-times-circle{
        position: absolute;
        right: 49px;
        top: 15px;
        font-size: 17px;
      }
}

.text-center {
  text-align: center!important;
}
.dropdown-menu-right {
  right: 0;
  left: -68px;
  width: 290px!important;
}

.navbar-brand {
  width: auto;
  margin: auto;

  img{
    width: 100%;
    height: auto;
  }
}

.popover-region-toggle::before{
  display:none;
}

.popover-region-notifications{
  margin: auto 0;
}

li.nav-item.d-flex.align-items-center{
  margin-top: 0;
}

img.userpicture{
  margin-right: 0;
}

nav.bg-light {
  background-color: white!important;
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

.dropdown-menu-media .dropdown-menu-header {
  position: relative;
  padding: 20px 20px;
  background-color: #fff;
  border-bottom: 1px solid #e4eaec;
}

.dropdown-menu-media>.dropdown-menu-footer {
  background-color: #f3f7f9;
  border-top: 1px solid #e4eaec;
}

.dropdown-menu-media .dropdown-menu-header .badge {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.badge {
  background-color: #526069;
  border-radius: .5rem;
  color: white;
}

.badge[href]:focus, .badge[href]:hover {
  background-color: #3c464c;
}

.dropdown-menu-media {
  width: 360px;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-menu-media>.dropdown-menu-footer>a {
  padding: 15px 20px!important;
  margin: 0;
  color: #a3afb7!important;
}

.dropdown-menu-media>.dropdown-menu-footer>.dropdown-menu-footer-btn {
  position: absolute;
  right: 0;
}

li.nav-item {
  margin: auto 0;
}
//message icon
div.popover-region.collapsed a svg.svg-inline--fa.fa-comment.fa-w-16.icon.fa-fw{
color: grey;
  padding: 8px 0px 6px 0px;
}
//message icon

