
<footer id="page-footer" class="py-3 text-light">
    <div class="container">
        <div class="row">
            <div class="footerLinkDiv col-12 col-sm-6 col-lg-3 text-xs-center">
                <div class="py-30 px-10">
                    <span class="card-title mt-10 grey-100">Key links</span>
                    <p><a href="https://www.accipio.com/about-accipio">About us</a></p>
                    <p><a href="https://hub.accipio.com/terms-and-conditions/">Terms &amp; conditions</a></p>
                    <p><a href="https://hub.accipio.com/privacy-policy/">Privacy &amp; cookie policy</a></p>
                    <p><a href="https://hub.accipio.com/policies/">Key policies</a></p><p></p>
                </div>
            </div>
            <div class="footerLinkDiv col-12 col-sm-6 col-lg-3 text-xs-center">
                <div class="py-30 px-10">
                    <span class="card-title mt-10 grey-100">About Us</span>
                    <p class="card-text"></p><p>Accipio is a leading provider of leadership development services. We are an ILM and CMI centre, and experts in digital learning.&nbsp;</p><p></p>
                </div>
            </div>
            <div class="footerLinkDiv col-12 col-sm-6 col-lg-3 text-xs-center">
                <div class="py-30 px-10">
                    <span class="card-title mt-10 grey-100">About the Hub</span>
                    <p class="card-text"></p><p>The Hub provides access to learning resources for you to complete your leadership and management qualification.&nbsp;</p><p></p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-3 text-xs-center">
                <div class="py-30 px-10">
                    <span class="card-title mt-10 grey-100">Follow Us</span>
                    <p class="card-text">
                        <a href="https://www.facebook.com/accipiouk" target="_blank" class="btn btn-icon btn-round social-facebook"><i class="fab fa-facebook-f socialFooterIcon"></i></a>
                        <a href="https://twitter.com/accipiouk" target="_blank" class="btn btn-icon btn-round social-twitter"><i class="fab fa-twitter socialFooterIcon"></i></i></a>
                        <a href="https://www.linkedin.com/company-beta/835566" target="_blank" class="btn btn-icon btn-round social-linkedin"><i class="fab fa-linkedin-in socialFooterIcon"></i></i></a>

                    </p>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="site-footer-legal pt-5">
                <a href="https://www.accipio.com">©2019 Accipio Ltd · All rights reserved · Company registered in England No. 7142802 · VAT No. GB291426400.</a>
            </div>

            <div class="site-footer-right pt-5">
                <a href="https://www.accipio.com" rel="nofollow" target="_blank">Powered by <img src="https://hub.accipio.com/theme/remui/pix/accipio-reverse.png" alt="accipio"></a>

                <div class="tool_dataprivacy"><a href="https://hub.accipio.com/admin/tool/dataprivacy/summary.php">Data retention summary</a></div><div class="policiesfooter"><a href="https://hub.accipio.com/admin/tool/policy/viewall.php?returnurl=https%3A%2F%2Fhub.accipio.com%2F">Policies</a></div>
                <div id="course-footer">

                </div>
            </div>
        </div>


    </div>
    {{{ output.standard_end_of_body_html }}}
    </footer>