<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="footerLinkDiv col-12 col-sm-6 col-lg-3 text-xs-center">
                <div class="py-30 px-10">
                    <span class="card-title mt-10 grey-100">Key links</span>
                    <p class="card-text"></p>
                    <p><a href="https://www.businessballs.com/course/">Courses</a><br></p>
                    <p><a href="https://www.businessballs.com/quiz/ ">Quizzes</a></p>
                    <p><a href="https://www.businessballs.com/about/privacy-statement/ ">Privacy Statement</a></p>
                    <p><a href="https://www.businessballs.com/about/terms-of-use/">Terms of Use</a></p>
                    <p><a href="https://www.businessballs.com/about/cookie-policy-info-and-security/">Cookie Info &amp; Security</a></p>
                    <p><a href="https://www.businessballs.com/about/site-index/">Site Index</a></p>
                </div>
            </div>
            <div class="footerLinkDiv col-12 col-sm-6 col-lg-3 text-xs-center">
                <div class="py-30 px-10">
                    <span class="card-title mt-10 grey-100">About Us</span>
                    <p class="card-text"></p><p>Businessballs is a free ethical learning and development resource for people and organizations. The use of this material is free for self-development, developing others, research, and organizational improvement. Please reference authorship and copyright of material used, including link(s) to Businessballs.com and the material webpage. Disclaimer: Reliance on this material and any related provision is at your sole risk. Businessballs Ltd assumes no responsibility for any errors or damages arising as a result of use.</p>
                </div>
            </div>
            <div class="footerLinkDiv col-12 col-sm-6 col-lg-3 text-xs-center">
                <div class="py-30 px-10">
                    <span class="card-title mt-10 grey-100">Key Partners</span>
                    <p class="card-text"></p>
                    <p><a href="https://www.accipio.com" target="_blank"><img src="https://www.businessballs.com/theme/remui/pix/accipio_grey.png" alt="Accipio" class="img-responsive atto_image_button_text-bottom"></a><br></p>
                    <p></p>
                    <p><a href="http://volunteeringforchange.org" target="_blank"><img src="https://www.businessballs.com/theme/remui/pix/vfc_grey.png" alt="VfC" class="img-responsive atto_image_button_text-bottom"></a><br></p><br>
                    <p></p>
                </div>
            </div>

            <div class="footerLinkDiv col-12 col-sm-6 col-lg-3 text-xs-center">
                <div class="py-30 px-10">
                    <span class="card-title mt-10 grey-100">Follow Us</span>
                    <p class="card-text">
                        <a href="https://www.facebook.com/businessballs/" target="_blank" class="btn btn-icon btn-round social-facebook"><i class="fab fa-facebook-f socialFooterIcon"></i></a>
                        <a href="https://twitter.com/businessballs" target="_blank" class="btn btn-icon btn-round social-twitter"><i class="fab fa-twitter socialFooterIcon"></i></i></a>
                        <a href="https://www.linkedin.com/company/businessballs-ltd" target="_blank" class="btn btn-icon btn-round social-linkedin"><i class="fab fa-linkedin-in socialFooterIcon"></i></i></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row footer-bottom">
            <div class="col-xs-12 col-sm-9 site-footer-legal">
                <a href="https://www.accipio.com">© Businessballs 2019. All rights reserved. Company registered in England No. 02353386.</a>
            </div>

            <div class="col-xs-12 col-sm-3 site-footer-right">
                <a href="https://www.accipio.com" rel="nofollow" target="_blank">Powered by <img src="https://hub.accipio.com/theme/remui/pix/accipio-reverse.png" alt="accipio"></a>
                {{{ output.login_info }}}
                {{{ output.standard_footer_html }}}
            </div>



        </div>



    </div>
    {{{ output.standard_end_of_body_html }}}
</footer>
{{> theme_master/shareBlock }}