<aside id="sidebar" class="sidebar">
    {{#has_blocks}}
        <div data-region="blocks-column" class="primary-column" aria-label="{{#str}}blocks{{/str}}">
            {{{ side_pre_blocks }}}
        </div>

    <div class="sidebarButton btn-primary" id="sidebarButton" onclick="sidebarIconClicked(this)">
        <i class="far fa-chevron-left sideBarChevron" id="sideBarIcon"></i>
    </div>
    {{/has_blocks}}
</aside>
